.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #00111A;
    margin-bottom: 105px;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 104px;
}
.header__logo{
    width: 197px;
    height: 30px;
}
.header__form{
    width: 550px;
    height: 48px;
    padding: 12px 14px;
    gap: 14px;
    border-radius: 5px;
    background-color: #0D1D25;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__input__icon{
    width: 24px;
    height: 24px;
    color: #C4C4CC;
}
.header__input{
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    width: 344px;
    height: 100%;
}
.header__btn{
    width: 200px;
    height: 56px;
    padding: 12px 32px;
    gap: 8px;
    border-radius: 5px;
    background-color: #750310;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: rgb(171, 39, 59) 0px 10px 0px 0px;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;

}
/* From Uiverse.io by absoluteSTrange */ 

.header__btn:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.header__btn:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.header__exit__icon{
    width: 32px;
    height: 32px;
    color: #FFFFFF;
}